---
---

{% assign licence_url = site.data.licences | find: "licence", page.licence %}
{% assign creator = site.data.creators | find: "name", page.creator %}

<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
</head>
<body>
    <div class="container">
        <nav>
            <a href="{{ site.baseurl }}/">Gallery index</a>
            <a href="{{ site.baseurl }}/about">About gallery</a>
        </nav>
    </div>
    <div class="container">
        <img src = "{{ page.image-url }}">
        <p>{{ page.title }} by <a href = "{{ creator.homepage }}">{{ page.creator }}</a></p>
        <p>{{ page.date | date: "%d %B %Y"}}</p>
        <p><a href="{{ licence_url.url }}">{{ page.licence }}</a></p>
    </div>
</body>
